h1{
    padding-top: 15px ;
}

#dugme{
    width: 45%;
    margin: 25px;
    
}

.hidee{
    display: none;
}

.showw{
    display: block;
}

#poz{
    background: orange;
    margin: 5px;
    border-radius: 5px;
    width: 50%;
}

.badge{
    font-size: 17px;
    background: #403f3e;
    color: white;

}

.delete{
    font-size: 15px;
    background: #403f3e;
    color: white;
}

.btnEdi{
    width: 100%;
}

.redStar{
    color: red;
    font-size: 25px;
    margin-top: 15px;
}





.menu button{
    width: 150px;
    height: 50px;
}


.window{
    float: left;
    display: block;
    margin-right: 50px;
}

.window1{
    float: left;
    display: block;
}

.table td, .table th {
    padding: 0.5rem;
}

.btnStudent{
    width: 40%;
    display: inline-block;
    margin: 5px 25px;
}

#tabWidth{
    display: block;
    width: 115% !important;
    margin-left: -84px;
}

.btnStudent-1{
    width: 90%;
    display: inline-block;
    margin: 0px 25px;
}