<div *ngFor="let s of subject">
  <h1 class="text-center"> {{s.subjectName}}</h1>
</div>


<div class="container">
  <div>
    <tabset>
      <tab heading="Časovi" id="tab1"> <button type="button" id="dugme" class="btn btn-info"
          (click)="openModal(template, 'addModal')">Dodaj novi
          čas</button>
        <button type="button" id="dugme" class="btn btn-info" (click)="openModal(template, 'editModal')">Izmeni
          čas</button>

        <ng-template #template>
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="add(forma)" #forma="ngForm">
              <table class="table">
                <!-- Student Attendance Insert -->
                <tr *ngIf="activeModal == 'addStudentAtte'">
                  <td>Unesite datum:</td>
                  <td><input #time type="date" id="time" name="time" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudentAtte'">
                  <td>Izaberite studenta:</td>
                  <td>
                    <select  #studentID type="number" id="studentID" name="studentID" ngModel
                      class="form-control">
                      <option value="1">Nemanja Milinković 246/2015</option>
                      <option value="2">Savo Jovanović 49/2015</option>
                      <option value="4">Aleksandar Stanković 79/2015</option>
                      <option value="5">Petar Petrović 1/2018</option>
                      <option value="6">Ivan Matijašević 232/2015</option>
                      <option value="8">Zvonko Simić 240/2015</option>
                      <option value="10">Filip Krstić 267/2015</option>
                    </select>
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudentAtte'">
                  <td>ID časaF,+:</td>
                  <td><input #classID type="number" id="classID" name="classID" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>



                <!-- Student Insert and Update -->
                <tr *ngIf="activeModal == 'editStudent'">
                  <td>Unesite id:</td>
                  <td><input #studentID type="number" id="studentID" name="studentID" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite ime:</td>
                  <td><input #name type="text" id="name" name="name" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite prezime:</td>
                  <td><input #surname type="text" id="surname" name="surname" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite email:</td>
                  <td><input #email type="email" id="email" name="email" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite broj telefona:</td>
                  <td><input #phone type="text" id="phone" name="phone" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite datum rodjenja:</td>
                  <td><input #dob type="date" id="dob" name="dob" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite godinu upisa:</td>
                  <td><input #yearNo type="number" id="yearNo" name="yearNo" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite broj indeksa:</td>
                  <td><input #indexNo type="number" id="indexNo" name="indexNo" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Unesite lozinku:</td>
                  <td><input #pass type="text" id="pass" name="pass" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'addStudent' || activeModal == 'editStudent'">
                  <td>Izaberite smer:</td>
                  <td>
                    <select #departmentID type="number" id="departmentID" name="departmentID" ngModel
                      class="form-control">
                      <option value="1">IT</option>
                      <option value="2">ERI</option>
                      <option value="3">IM</option>
                      <option value="4">TI</option>
                      <option value="5">PM</option>
                      <option value="6">MEH</option>
                    </select>
                    <!--                     <input #departmentID type="number" id="departmentID" name="departmentID" ngModel
                      class="form-control" />
 -->
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>


                <!-- Class Insert and Update -->
                <tr *ngIf="activeModal == 'editModal'">
                  <td>Unesite id časa:</td>
                  <td><input #classID type="number" id="classID" name="classID" ngModel class="form-control" /></td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'editModal' || activeModal == 'addModal'">
                  <td>Izaberite predmet:</td>
                  <td>
                    <select #subjectID type="number" id="subjectID" name="subjectID" ngModel class="form-control">
                      <option value="2">Informacioni ekspertni sistemi</option>
                      <option value="5">Informacione tehnologije</option>
                    </select>
                    <!--                     <input #subjectID type="number" id="subjectID" name="subjectID" ngModel class="form-control" />
 -->
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'editModal' || activeModal == 'addModal'">
                  <td>Izaberite datum:</td>
                  <td><input #date type="date" id="date" name="date" ngModel class="form-control" /></td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'editModal' || activeModal == 'addModal'">
                  <td>Izaberite profesora:</td>
                  <td>
                    <select #lecturerID type="number" id="lecturerID" name="lecturerID" ngModel class="form-control">
                      <option value="1">Živadin Micić</option>
                      <option value="3">Vlade Urošević</option>
                      <option value="5">Vladimir Mladenović</option>
                      <option value="6">Olga Ristić</option>
                    </select>
                    <!--                     <input #lecturerID type="number" id="lecturerID" name="lecturerID" ngModel class="form-control" />
 -->
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'editModal' || activeModal == 'addModal'">
                  <td>Unesite sifru casa:</td>
                  <td><input #classPass type="string" id="classPass" name="classPass" ngModel class="form-control" />
                  </td>
                  <td><span class="redStar">*</span></td>
                </tr>
                <tr *ngIf="activeModal == 'editModal' || activeModal == 'addModal'">
                  <td>Izaberite grupu:</td>
                  <td>
                    <select #practiceGroup type="string" id="practiceGroup" name="practiceGroup" ngModel
                      class="form-control">
                      <option value="prva">Prva</option>
                      <option value="druga">Druga</option>
                      <option value="treca">Treća</option>
                      <option value="cetvrta">Četvrta</option>
                      <option value="peta">-</option>
                    </select>
                    <!--                     <input #practiceGroup type="string" id="practiceGroup" name="practiceGroup" ngModel
                      class="form-control" /></td>
 -->
                  <td><span class="redStar"></span></td>
                </tr>
                <tr *ngIf="activeModal == 'editModal' || activeModal == 'addModal'">
                  <td>Da li ste profesor:<input type="checkbox" id="isLecture" name="isLecture" (click)="radio($event)"
                      ngModel class="form-control" #isLecture /></td>
                  <td>Da li je dostupna prijava:<input type="checkbox" id="isOpen" name="isOpen" (click)="radio($event)"
                      ngModel class="form-control" #isLecture /></td>
                </tr>
              </table>

              <div>

                <!-- (click) passes input value to add() and then clears the input -->

                <button class="btn btn-danger btnEdi" type="submit" *ngIf="activeModal == 'addModal'">
                  Dodaj čas
                </button>
                <button class="btn btn-info btnEdi" type="submit" *ngIf="activeModal == 'editModal'">
                  Izmeni čas
                </button>
                <button class="btn btn-danger btnEdi" type="submit" *ngIf="activeModal == 'addStudent'">
                  Dodaj
                </button>
                <button class="btn btn-danger btnEdi" type="submit" *ngIf="activeModal == 'editStudent'">
                  Izmeni
                </button>
                <button class="btn btn-danger btnEdi" type="submit" *ngIf="activeModal == 'addStudentAtte'">
                  Dodaj studenta
                </button>
              </div>
            </form>

          </div>
        </ng-template>

        <div>
          <table class="table table-striped text-center">
            <tr>
              <th>Čas</th>
              <th>Profesor</th>
              <th>Datum</th>
              <th>Otvorena prijava</th>
              <th>Šifra predmeta</th>
              <th>Grupa</th>
              <th>Otvori prijavu</th>
              <th>Obriši čas</th>
            </tr>
            <tr *ngFor="let c of class">
              <td>{{c.classID}}
                <!-- / {{c.subjectID}} -->
              </td>
              <td>{{c.isLecture}}</td>
              <td>{{c.date}}</td>
              <td>{{c.isOpen}}</td>
              <td>{{c.classPass}}</td>
              <td>{{c.practiceGroup}}</td>
              <td><button id="isOpen" name="isOpen" (click)="openCloseClass('open', c.classID)"
                  *ngIf="!c.isOpen">Otvori</button>
                <button id="isOpen" name="isOpen" (click)="openCloseClass('close', c.classID)"
                  *ngIf="c.isOpen">Zatvori</button>
              </td>
              <td><button title="Obrisi cas" (click)="delete(c.classID)">X</button></td>
            </tr>
          </table>
        </div>
      </tab>
      <tab heading="Studenti">
        <div id="tabWidth">
          <br>

          <div class="window">
            <h4 class=" text-center">Svi studenti</h4>
            <table class="table table-striped text-center ">
              <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Email</th>
                <th>Broj telefona</th>
                <th>Broj indexa</th>
                <th>Obriši</th>
              </tr>
              <tr *ngFor="let s of student">
                <td>{{s.studentID}}</td>
                <td>{{s.name}}</td>
                <td>{{s.surname}}</td>
                <td>{{s.email}}</td>
                <td>{{s.phone}}</td>
                <td>{{s.indexNo}}/{{s.yearNo}}</td>
                <td><button title="Obrsi studenta" (click)="deleteStudents(s.studentID)">X</button></td>
              </tr>
            </table>
            <button type="button" class="btn btn-info btnStudent" (click)="openModal(template, 'addStudent')">Dodaj
              studenta</button>
            <button type="button" class="btn btn-info btnStudent"
              (click)="openModal(template, 'editStudent')">Izmeni</button>
          </div>

          <div class="window1">
            <h4 class=" text-center">Prijavljeni studenti</h4>
            <table class="table table-striped text-center ">
              <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Vreme prijave</th>
                <th>Broj indexa</th>
                <th>Obriši</th>
              </tr>
              <tr *ngFor="let c of course">
                <td>{{c.name}}</td>
                <td>{{c.surname}}</td>
                <td>{{c.time}}</td>
                <td>{{c.indexNo}}/{{c.yearNo}}</td>
                <td><button title="Obriši studenta" (click)="deleteStudentsAte(c.attendancesID)">X</button></td>
              </tr>
            </table>
            <button type="button" class="btn btn-info btnStudent-1"
              (click)="openModal(template, 'addStudentAtte')">Dodaj
              studenta</button>
          </div>
        </div>
      </tab>
      <!-- <tab heading="Basic Title 2">Basic content 2</tab> -->
    </tabset>
  </div>



</div>