#formWrapper{
    display: block;
    width: 100%;
    margin: auto;
    padding: 50px 5px;
    color: black;
}

#form{
    background: #da8301d6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
    margin: auto;
    width: 35%;
    display: block;
    padding: 80px 0px;
    border-radius: 20px;
    border: black solid 2px;
    box-shadow: 3px 3px 10px 2px black;
}

.form-control,label{
    display: block;
    width: 60%;
    margin: auto;
}

form button{
    background: black;
    border: white solid 2px;
}

form button:active{
    background: rgb(44, 44, 44) !important;
    border: rgb(200, 255, 0) 2px solid !important;
}

form button:hover{
    background: rgb(73, 45, 45) ;
    border: rgb(0, 255, 191) 2px solid ;
    cursor: pointer;
}
form button:focus{
    color: white;
}

form label,button{
    font-size: 20px;
}

form h2{
    font-size: 35px;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    #form {
      width: 65%;
      padding: 200px 5px;
    }
    #formWrapper{
        padding: 250px 5px;
    }

    form label,button{
        font-size: 35px;
    }

    form h2{
        font-size: 45px;
    }

    .form-control,label{
        width: 80%;
    }
  }

  @media only screen and (max-width: 768px) {
    #form {
      width: 75%;
    }
    #formWrapper{
        padding: 150px 5px;
    }
    form label,button{
        font-size: 25px;
    }

    form h2{
        font-size: 35px;
    }

    .form-control,label{
        width: 80%;
    }
  }
  @media only screen and (max-width: 414px) {
    #form {
      width: 70%;
      padding: 50px 0px;
    }
    #formWrapper{
        padding: 0px;
        margin-top: 150px;
    }   
  }

  @media only screen and (max-width: 411px) {
    #form {
      width: 100%;
      padding: 225px 0px;
      border-radius: 0px;
      border: 0px;
      box-shadow: 0px 0px 0px 0px black;
    }
 
    #formWrapper{
        padding: 0px;
        margin-top: 0px;
    }   

    form label,button{
        font-size: 25px;
    }

    form h2{
        font-size: 40px;
    }

    .form-control,label{
        width: 80%;
    } 
  }

  @media only screen and (max-width: 375px) {
    #form {
      padding: 220px 0px;
    }
 
    }

    @media only screen and (max-width: 360px) {
        #form {
          padding: 133px 0px;
        }
     
        }

    @media only screen and (max-width: 320px) {
        #form {
          padding: 98px 0px;
        }
     
        }
  

 



  