
  <div id="formWrapper">
    <div class="col-xs-12 col-sm-12 col-md-12" id="form">
      
        <form (ngSubmit)="onSingUp(form)" #form="ngForm">
            <div class="form-group">
              <div id="imageWrapper">
                  <h2 class="text-center">Prijava</h2><br><br>
            </div>
              <label for="email">Korisničko ime</label>
              <input type="email" id="email" name="email" ngModel class="form-control" required><br>
              <label for="password">Lozinka</label>
              <input type="password" id="pass" name="pass" ngModel class="form-control" required>
            </div>
            <br>
            <button [disabled]="!form.valid" class="btn-large btn-danger form-control" type="submit">Prijavi se</button>
          </form>
    </div>
  </div>



 
               