<div class="container">
  <br>
  <h1 class="text-center">Lista predmeta</h1>

<ul class="heroes">
  <li *ngFor="let s of subject"  class="text-center text">
    <div>
      <h3><a routerLink="/subject/{{s.professorID}}">{{s.subjectName}}</a> </h3>
    </div>
    
  </li>
  
</ul>

  
</div>





