.container h3{
    font-size: 25px;
    color: brown;
}

.container .text:hover{
    background: rgba(240, 240, 240, 0.664);
    cursor: pointer;
}

.text{
    padding: 15px 0px;
    margin: 0px;
    /* border-bottom: 2px solid rgb(119, 119, 119); */
}


h1{
    margin-bottom: 0px;
   /*  border-bottom: 2px solid rgb(119, 119, 119); */
    padding-bottom: 15px;
}

ul li{
    list-style: none;
    margin: 0px;
    margin-top: 10px;
    border: solid 1px;
}

h3{
    margin-right: 40px !important;
}

