<div class="container">
  <br>
  <h1 class="text-center">Dostupni casovi</h1>
 
<!--   <div *ngFor="let s of classes$"  class="text-center text">
    <a *ngIf="s.isOpen" (click)="openModal(template, s.classPassword)">  {{s.subjectName}} {{s.date}} {{s.isOpen}} {{s.practiceGroup}} {{s.classPassword}} </a>
  </div> -->
      <table class="table  table-striped table-hover  text-center ">
        <tr>
          <th>Naziv predmeta</th>
          <th>Datum predavanja</th>
          <th>Da li je prijava otvorena</th>
          <th>Grupa</th>
        </tr>
        <tr *ngFor="let s of classes$"  class="text-center text">
          <td><a *ngIf="s.isOpen" (click)="openModal(template, s.classPassword, s)">{{s.subjectName}}</a></td>
          <td><a *ngIf="s.isOpen" (click)="openModal(template, s.classPassword, s)">{{s.date}}</a></td>
          <td><a *ngIf="s.isOpen" (click)="openModal(template, s.classPassword, s)">{{s.isOpen}}</a></td>
          <td><a *ngIf="s.isOpen" (click)="openModal(template, s.classPassword, s)">{{s.practiceGroup}}</a></td>
        </tr>
      </table>
    
    <ng-template #template>
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSingUp(form)" #form="ngForm">
          <div class="form-group">
            <!-- <label>{{s.subjectID}}</label> -->
            <input type="password" id="classPass" name="classPass" ngModel class="form-control" required
              placeholder="Unesite sifru predmeta">
          </div>

          <button type="submit" class="btn btn-success" style="width: 100%">Potvrdi</button>

        </form>
      </div>
    </ng-template>



</div>