.container h3{
    font-size: 20px;
}

.container .text:hover{
    background: rgba(240, 240, 240, 0.664);
    cursor: pointer;
}




h1{
    margin-bottom: 0px;
    border-bottom: 2px solid rgb(119, 119, 119);
    padding-bottom: 15px;
}


.box{
    display: block;
}